/*
 * t3rrific.com
 * (c)2019-2024 by Michael Schams <schams.net> | <t3rrific.com>
 */

body#typo3-on-aws {
}

body#typo3-on-aws .content {
}

/* -------------------------------------------------------------------------- */
/* tables */

body#typo3-on-aws .content table {
	width: 100%;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

body#typo3-on-aws .content table tr {
}

body#typo3-on-aws .content table thead tr {
	background: #ffffff;
	border-bottom: 1px solid black;
}

body#typo3-on-aws .content table tbody tr:nth-child(odd) {
	background: #f0f0f0;
}

body#typo3-on-aws .content table tbody tr:nth-child(even) {
	background: #ffffff;
}

body#typo3-on-aws .content table thead td,
body#typo3-on-aws .content table tbody td {
	padding-right: 0.6rem;
	width: 1%;
}

/* -------------------------------------------------------------------------- */
/* specific elements */

body#typo3-on-aws .content ul li {
	list-style: square;
}

body#typo3-on-aws code[class*="language-"],
body#typo3-on-aws pre[class*="language-"] {
	font-size: 0.9rem;
}

body#typo3-on-aws .content blockquote {
	margin-left: 2rem;
	font-style: italic;
}

/* -------------------------------------------------------------------------- */
