<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
	<meta charset="utf-8" />
	<title>{{ config.site_name }}{% if page.title %} - {{ page.title }}{% endif %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="We are t3rrific.com!" />
	<meta name="author" content="Michael Schams">

	<!-- favicons -->
	<link rel="apple-touch-icon" href="https://t3rrific.com/_assets/images/favicons/apple-touch-icon.png" sizes="180x180">
	<link rel="icon" href="https://t3rrific.com/_assets/images/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
	<link rel="icon" href="https://t3rrific.com/_assets/images/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
	<link rel="manifest" href="https://t3rrific.com/_assets/images/favicons/manifest.json">
	<link rel="icon" href="https://t3rrific.com/_assets/images/favicons/favicon.ico">

	<meta property="og:title" content="t3rrific" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="https://t3rrific.com" />
	<meta property="og:description" content="Comprehensive documentation about the enterprise open-source content management system TYPO3 on cloud solutions by Amazon Web Services." />
	<meta property="og:locale" content="en_US" />
	<meta property="og:image" content="https://t3rrific.com/_assets/images/og-image-800x400.png" />

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

  {% for path in config.extra_css %}
  <link href="{{ path|url }}" rel="stylesheet" type="text/css" media="all" />
  {% endfor %}
  <link rel="shortcut icon" href="{{ "img/favicon.ico"|url }}">

  {% block extrahead %}
  {% endblock %}

</head>

<body class="d-flex flex-column h-100 documentation" id="typo3-on-aws">

	<!-- header/navbar -->
	<header>
		<nav class="navbar navbar-expand-md fixed-top bg-orange">
			<div class="container-fluid d-flex justify-content-between">
				<div class="d-flex justify-content-start w-33">
					<a class="navbar-brand font-t3rrific" href="/">t3rrific.com</a>
				</div>
				<div class="d-flex justify-content-center w-33">
					<img src="https://t3rrific.com/_assets/images/t3logo-ring.png" class="d-none d-sm-block">
				</div>
				<div class="d-flex justify-content-end w-33">
					<div class="dropdown">
						<button class="btn btn-link border border-light" type="button" data-bs-toggle="dropdown" aria-expanded="false">
							<img src="https://t3rrific.com/_assets/images/toggler-icon.svg" alt="" class="nav-toggler-icon" width="24" height="24" />
						</button>
						<ul class="dropdown-menu">
							<li>
								<a class="dropdown-item" href="/typo3-on-aws/">
									TYPO3 on AWS
								</a>
							</li>
							<li>
								<a class="dropdown-item" href="/videos/">
									Videos
								</a>
							</li>
							<li><hr class="dropdown-divider"></li>
							<li>
								<a class="dropdown-item" href="/contact/">
									Contact
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</nav>
	</header>

	{% if page.meta.toc != false %}
		{% include "toc.html" %}
	{% endif %}

	<!-- page content -->
	<main class="content flex-shrink-0">

		<div class="container-fluid top-banner">
			<div class="container">
				<h1 class="text-left font-t3rrific">TYPO3 on AWS</h1>
				<p>
					{% if page.meta.section %}
						{{ page.meta.section }}
					{%- elif page.title %}
						{{ page.title }}
					{%- else %}
						Documentation
					{% endif %}
				</p>
			</div>
		</div>

		<div class="container-fluid p-0">
			<div class="container">
				<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item">
							<a class="smaller ps-0" href="/typo3-on-aws/">TYPO3 on AWS</a>
						</li>
						{% if page and not page.is_homepage %}
							<li class="breadcrumb-item">
								<a class="smaller ps-0" href="/typo3-on-aws/docs/">Documentation</a>
							</li>
						{% endif %}
						{% if page.meta.breadcrumb %}
							{% for item in page.meta.breadcrumb %}
								<li class="breadcrumb-item">
									<a class="smaller ps-0" href="{{ item.url }}">{{ item.label }}</a>
								</li>
							{% endfor %}
						{% endif %}
						{% if page.title %}
							<li class="breadcrumb-item active" aria-current="page">
								<span class="smaller">{{ page.title }}</span>
							</li>
						{% endif %}
					</ol>
			    </nav>
			</div>
		</div>

		<div class="container pt-0 pb-4">
			{% if page and not page.is_homepage %}
				{% if page.meta.firstHeadline %}<h2 class="firstHeadline">{{ page.meta.firstHeadline }}</h2>{% endif %}
			{% endif %}
			<div class="row">
				<div class="col-md-12 pb-4">
					{% block content %}
						{{ page.content }}
					{% endblock %}
				</div>
			</div>
		</div>

	</main>

	<!-- footer -->
	<footer class="footer mt-auto py-3 bg-dark">
		<div class="container text-white-50">
			<div class="row">
				<div class="col">
					<p class="d-none text-white">Contact</p>
					<p>
						<strong>t3rrific.com</strong><br />PO Box 5047, Middle Park, VIC 3206<br />
						<img src="https://t3rrific.com/_assets/images/flags/au.svg" alt="Australian flag" class="flag-icon" width="20" height="15" />Australia
					</p>
					<p>
						<a class="link-light" href="tel://+61399173918">+61&nbsp;(0)3&nbsp;9917&nbsp;3918</a>
					</p>
				</div>
				<div class="col">
					<p class="d-none text-white">&nbsp;</p>
				</div>
				<div class="col">
					<p class="d-none text-white">&nbsp;</p>
					<p class="mkdocs-build-date">
						<strong>Build date:</strong><br />{{ build_date_utc.strftime("%-d %B %Y, %H:%M UTC") }}
					</p>
					{% if page.meta.lastupdate %}
						<p class="last-update">
							<strong>Last page content update:</strong><br />{{ page.meta.lastupdate }}
						</p>
					{% endif %}
					<p class="mkdocs-version d-none">
						<strong>mkdocs version:</strong><br />{{ mkdocs_version }}
					</p>
				</div>
			</div>
		</div>
	</footer>

	<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

	{% for path in config.extra_javascript %}
	<script src="{{ path|url }}"></script>
	{% endfor %}
</body>
</html>
